.App {
  @font-face {
    font-family: VarelaRound;
    src: url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
  
  }
  @import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
  font-family: 'Roboto', ;
  

}

.Input {
  margin: 20px 0px 10px 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  
}

.search-input {
  width: 50%;
  padding:20px;
  border-radius:10px;
  outline:none;
  border: 1px solid black;
  margin-right:10px;
  font-size:24px;
}

.search-btn {
  padding:15px 30px;
  background-color: #7bbb67;
  border:none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size:24px;
  line-height: 20px;
}

.desc {
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
    padding-bottom: 10px;
    text-align: center;
}

/* .recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:15px; 
} */